discord.py
requests
pyperclip
pynput
pyttsx3
comtypes
aiohttp
cryptography
pycryptodome
pillow
pycaw
opencv-python
numpy
sounddevice
scipy
pyautogui
aiofiles
psutil
screeninfo
pywin32
zipfile
